// see the brand book:
// https://wakehealth.sharepoint.com/:b:/r/sites/BrandCenter/Shared%20Documents/22-0011380%20WFUSM%20Brand%20Book%202022_6.15.22.pdf?csf=1&web=1&e=phPp8N

/*-- fonts --*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
//script fonts
//  --casual
//@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
//  --formal
//@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

/*-- scss:defaults --*/
//primary colors
$primary: #8C6D2C; //web gold
$primary75: rgba(140, 109, 44,0.75);
$primary50: rgba(140, 109, 44,0.50);
$primary25: rgba(140, 109, 44,0.25);
$primarydark: #624d17;
$black: #000000;
$white: #FFFFFF;
$oldgold: #9E7E38; //old gold
$goldonblack: #cc9f2e;
//$primary: #a67f31; //old gold?

//secondary colors
$wakegray: #54565A;
$wakeyellow: #FDC314;

//accent colors
$wakegreen: #6BA539;
$atriumteal: #008C95;
$wakelightgray: #CFD2D3;
$wakecoolgray: #A7A8A9;
$wakered: #861F41;
$wakenavy: #002B49;
$atriumlightgray: #f5f5f5;

//page colors
$body-bg: $white;
$body-color: $wakegray;
$link-color: $primary;
$sidebar-hl: $primary;
$sidebar-bg: $atriumlightgray;
$toc-color: $primary;
$footer-bg: $black;
$footer-fg: $white;
$hr-color: $primary;
//$border-color: $primary;

$gray-300: #dee2e6; //bootstrap default
$nav-tabs-border-color: $gray-300;

//callouts
$callout-color-note: $atriumteal;
$callout-color-tip: $wakegreen;
$callout-color-warning: $wakeyellow;
$callout-color-important: $wakered;


//fonts
$font-family-sans-serif: "Nunito Sans", Arial, sans-serif !default;
$font-family-serif: "Cormorant", Garamond, serif !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
$link-shade-percentage: 0% !default;
$h1-font-size: 32px;

//tabsets
$nav-tabs-link-active-color: $black;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-hover-border-color: $white;
$nav-link-hover-color: $black;

//tabset pills (.panel-tabset .nav-pills)
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: $black;
$nav-pills-border-radius: 0;

//navbar
//$navbar-brand-font-size: 1.1rem;
//$nav-link-font-size: 0.9rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
//dropdowns
$dropdown-link-hover-bg: $white;


/*-- scss:rules --*/

.color-primary{
  color: $primary;
}

.serif{
  font-family: $font-family-serif;
}

.sans-serif{
  font-family: $font-family-sans-serif;
}

.smaller{
  font-size: 0.9em;
}

//tabset pills
/*
.nav-pills .nav-link.active{
    border: 2px solid $primary;
}
.nav-pills .nav-link {
    border-radius: $nav-pills-border-radius;
    border: 2px solid $primary;
    margin-right: 2px;
    margin-bottom: 2px;
}
*/
.nav-pills .nav-link:hover{
  background-color: $black;
  color: $white;
//  border: 2px solid $white;
}
/*
.nav-pills .nav-link.active:hover{
  background-color: $primarydark;
  color: $white;
  border: 2px solid $primarydark;
}
*/
.tab-content{
  border-radius: $nav-pills-border-radius;
  border-color: $nav-tabs-border-color;
  border-top: $nav-tabs-border-color 1px solid;
}
.nav-tabs {
    border-bottom: none;
}


//forms
:root {
    accent-color: $primary;
}
//navbar
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
	text-decoration: underline;
	color: $white;
}
//dropdowns
.dropdown-item:hover{
	text-decoration: underline;
}

//headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: $font-family-serif;
  font-weight: 700;
  color: $black;
  margin-top:0.9rem;
}

h1 {
font-family: $font-family-sans-serif;
font-weight: 400;
}

h2 {
	border-bottom-color: $primary25;

}

//heading default
.quarto-title .subtitle{
  font-weight: 400;
  margin-top: -0.2em;
  margin-bottom: 0;
}
.quarto-title-meta-heading{
  color: $primary;
}
.quarto-title-meta-contents p{
  font-style: italic;
}
.quarto-title-banner{
  padding-top: 0;
  padding-bottom: 1em;
}

//heading in quarto banner (optional, title-block-banner: true)

.quarto-title-banner .quarto-title .title {
  color: $white;
}
.quarto-title-banner .quarto-title .subtitle {
  color: $white;
  opacity: 0.7;
}
.quarto-title-banner.page-columns.page-full {
    background: $primary;
}

.quarto-title-block:has(.quarto-title-banner){ //only if .quarto-title-banner exists
    padding-bottom:20px;
    margin-bottom:0;
    background: $atriumlightgray;
}


//links
a {
  font-weight: 600;
}
.sidebar-navigation a, .nav-link {
  font-weight: 400 !important;
}
span.navbar-title {
  font-weight: 400;
}
//footer (created class used in footer.html)
.basic-footer {
    text-align: center;
    padding: 20px;
    background-color: $footer-bg;
    color: $footer-fg;
    font-size: 0.75em;
    font-weight: 200;
    z-index: 999;
    border-top: 1px solid $primary;
}

.basic-footer a{
  color: $goldonblack;
}

.basic-footer hr{
  opacity: 1;
}

//header (created class used in header.html)
.basic-header {
    text-align: center;
    padding: 15px;
    padding-right: 30px;
    background-color: $primary;
    color: $white;
    font-size: 1em;
    font-weight: 200;
    z-index: 999;
    top:0;
    position:sticky;
}

.basic-header a{
  color: $goldonblack;
}

//modals
.modal-content {
    font-family: $font-family-sans-serif;
}
